<!doctype html>
<html>
  <head>
<% if (router === 'uirouter') { -%>
    <base href="/">
<% } -%>
    <meta charset="utf-8">
    <title>FountainJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
  </head>

  <body ng-app="app">
<% if (router === 'uirouter') { -%>
    <ui-view></ui-view>
<% } else { -%>
    <app>Loading...</app>
<% } -%>
  </body>
</html>
